* {
    padding:0;
    margin:0;
}

html{
    font:14px normal Arial, sans-serif;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#626771;
    background-color:#fff;
}

body{
    padding:60px;
    text-align: center;
}
.red, .green, .blue {
  font-size: 7rem;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

input[type=search]{
    text-align: center;
    font: inherit;
    border: 6px solid #d8e6f2;
    padding: 13px 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    width: 384px;
    outline: none;
    display: block;
    color: #7B8585;
    margin: 0 auto 20px;
}

ul{
    list-style: none;
    display: inline-block;
    width: 1000px;
    text-align: left;
}

ul li{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    transition: 0.3s;
	height : 160px;
}

ul li:hover{
    background-color:#cbdff0;
}

li img {
	height : 130px;
	position : relative;
	float : left;
	padding-right: 10px;
	width: 96px;
}

li iframe {
	position: relative;
	float: left;
	width: 300px;
	margin-right: 10px;
}

#now-palying-results {
	position: relative;
	height : 500px;
	overflow-y :scroll;
}
#search-results {
	position: relative;
	height : 500px;
	overflow-y :scroll;
}

#now-palying-results li div {
	float :left;
}

#search-results li div {
	float :left;
}

.primaries {
	position: relative;
	float: left;
	max-width: 860px;
	font-size: 12px !important;
}

.vote_average {
	float:right!important;
	font-weight :bold;
}

.primary{
	position: relative;
	float: left;
	width: 960px;
	height: 130px;
	z-index = 1;
}

.release_date {
	float :right!important;
}
.overview {
	width : 840px;
	max-height : 100px;
    overflow:hidden;
}

.title {
	font-weight :bold;
}

.details {
	position: relative;
	width: 960px;
	height: 130px;
	margin-top: 10px;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: all 1s ease;
}

li.transform-active {
  height: 450px;
  background-color:#d8e6f2;
}
.trailer_label {
	width : 900px;
}
.no_trailer {
	width:290px;
	height : 130px;
}
.trailer_label {
	width : 310px;
}
.similar_label {
	width : 600px;
}
.similar_title {
	font-size: 12px;
	width : 130px;
	padding-right:5px;
}
.similar {
	position : relative;
	float:left;
	width: 1480px;
}

.similars {
	width : 640px;
	height: 131px;
	overflow-y: hidden;
}
.similar img {
	position : relative;
	float:left;
	width : 70px;
	height : 85px;
	padding-left: 5px;
	padding-top: 1px;
}
.similar_item {
    width: 130px;
}

.reviews {
	position :relative;
	float:left;
	width : 900px;
	margin-top : 10px;
}
.review-content {
	position: relative;
	float: left;
	max-width: 950px;
	max-height: 100px;
	display:inline-block;
    white-space: nowrap;
    overflow:hidden ;
    text-overflow: ellipsis;
    font-size: 12px;
}

.review-content:hover{
	overflow-y :scroll;
    white-space: normal; 
    width: 950px;
    background-color:white;
}
